@CHARSET "ISO-8859-1";

/*Color variables*/
:root {
	--lighter-color: #f2f2f2;
	--light-color: #e6e6e6;
	--dark-color: #b3b3b3;
	--shadow-color: #8c8c8c;
}

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*Global CSS*/
body, html {
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
    font-family: arial;
}
a {
	text-decoration: none;
}

.flexbox-row {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexbox-column {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-title {
	color: var(--dark-color);
	position: fixed;
	left: 1em;
	top: 1em;
	
	font-weight: bold;
	font-size: 4em;
}
#form-container {
    background: var(--dark-color);
    padding: 1em;
    border-radius: .4em;
}

.fields {
    background: var(--lighter-color);
    width: 20em;
    color: var(--shadow-color);
    font-size: 1.01em;
    padding: .5em .8em;
    border: 0;
    border-radius: .4em;
    margin: 1em;
    box-shadow: 0px 0px 10px var(--shadow-color);
}
.fields:focus {
    outline: 0;
    box-shadow: 0px 0px 30px var(--shadow-color);
    transition: .2s;
}

.login-messages {
	color: var(--lighter-color);
	list-style-type: none;
	margin: .3em;
}

.login-button {
    background: transparent;
    color: var(--lighter-color);
    font-size: 1.2em;
    border: 1px solid var(--light-color);
    border-radius: .3em;
    padding: .3em 1em;
    margin: .3em;
}
.login-button:hover {
    background: var(--light-color);
    color: var(--shadow-color);
    border: 1px solid var(--light-color);
    cursor: pointer;
    
    transition: .1s;
}