@CHARSET "ISO-8859-1";

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	background: #e6e6e6;
	width: 100%;
	height: 100%;
	font-family: arial;
}

.flexbox-row {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexbox-column {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outter-container {
	width: 100%;
	min-height: 1em;
}

.user-information-container {
	background: #b3b3b3;
	box-shadow: 0 0 1em #808080;
}
#name-container {
	margin: 1em;
	margin-left: 2em;
}
#user-name {
	font-size: 3em;
	color: #d9d9d9;
}

.evaluation-results-container {
	margin-left: 1em;
	font-size: 1.1em;
}
.evaluation-text {
	color: #cccccc;
	font-size: 1.2em;
}
.evaluation-grade {
	color: #bfbfbf;
}

.logout-button {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1em;
	border-radius: 100em;
	margin: 1em;
}

.search-box-container {
	background: #cccccc;
}
.search-form {
	background: #bfbfbf;
	height: 100%;
	width: 100%;
}
.search-box {
	background: #e6e6e6;
	height: 2.5em;
	width: 80%;
	font-size: 1.1em;
	color: #404040;
	margin: .9em;
	border: none;
	border-radius: 100em;
	padding: 0 1.5em;
}
.search-button {
	background: #d9d9d9;
	font-size: 1.1em;
	color: #404040;
	border: none;
	border-radius: 100em;
	padding: 1em 1.5em;
}
.search-button:hover {
	background: #e6e6e6;
	cursor: pointer;
}

a{
	text-decoration: none;
}


.past-evaluations-container {
	text-align: center;
}
.comments-column-container {
	width: 50%;
}
.comments-column-header-container {
	background: #bfbfbf;
	width: 97%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: .4em;
	text-align: center;
}
.comments-column-header {
	color: #d9d9d9;
	font-size: 1.5em;
}
.comment-outter-container {
	background: #bfbfbf;
	width: 95%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	box-shadow: 0 0 1em #737373;
}
.comment-inner-container {
	background: #d9d9d9;
	width: 95%;
	height: 95%;
	margin: 1em;
}
.comment-text-container {
	width: 70%;
	padding: 1em;
	text-align: left;
}
.about-comment {
	text-indent: 1em;
	margin-bottom: 1em;
	font-size: 1.2em;
	font-weight: bold;
	color: #8c8c8c;
}
.comment {
	text-indent: 2em;
	color: #a6a6a6;
}
.comment-likes-container {
	width: 30%;
	padding: 1em;
}
.evaluation {
	height: 2.2em;
	width: 9em;
	border-radius: 100em;
	margin: .3em;
	
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.like {
	background: #2196f3;
	color: white;
}
.dislike {
	background: #e57373;
	color: #ffcdd2;
}
