@CHARSET "ISO-8859-1";

/*Color variables*/
:root {
	--lighter-color: #f2f2f2;
	--light-color: #e6e6e6;
	--dark-color: #b3b3b3;
	--shadow-color: #8c8c8c;
}

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*Global CSS*/
body, html {
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
    font-family: arial;
}
.flexbox-row {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexbox-column {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-prof {
	background: var(--lighter-color);
	box-shadow: 0px 0px 10px var(--dark-color);
	border-radius: 1em;
    width: 70%;
    padding: 2em;
}
#information-container {
	
}
.professor-photo-container {
    background: var(--dark-color);
    height: 7em;
    width: 7em;
    border-radius: 100%;
    margin: 1em;
    overflow: hidden;
}
.professor-photo {
	height: 7em;
	margin-top: .9em;
	opacity: 0.7;
}
#text-container-prof {

}
#name-prof {
    color: var(--shadow-color);
    font-size: 2em;
    margin-bottom: .2em;
}
#description-prof {
    color: var(--dark-color);
    text-indent: 3em;
}

#evaluation-container {

}
#objective-evaluation-container {
	margin: 2em;
}
.objective-evaluation {
    width: 10em;
    height: 5em;
}
.objective-evaluation-text-container {
    color: var(--shadow-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    font-weight: bold;
    height: 50%;
    width: 100%;
    border-radius: 1em 1em 0 0;
}
.objective-evaluation-dropdown-menu-container {
	width: 100%;
}
.objective-evaluation-dropdown-menu {
	width: 100%;
	border: none;
}

#subjective-evaluation-container {
    width: 80%;
}
textarea {
	box-shadow: 0px 0px 10px var(--shadow-color);
	color: var(--shadow-color);
	font-family: arial;
	font-size: 1.1em;
    width: 30em;
    height: 10em;
    padding: 1em;
    border-radius: .5em;
    border: none;
    resize: none;
}
.send-button {
    border: 1px solid var(--shadow-color);
    padding: 1em 1.5em;
    margin: .2em;
    border-radius: .5em;
    color: var(--shadow-color);
    font-size: 1.3em;
}
.send-button:hover {
    background-color: var(--shadow-color);
    color: var(--lighter-color);
    cursor: pointer;
    
    transition: .2s;
}